/* Adiciona um grid para a lista com 2 colunas, distância entre elas são de 50%, pois há 2 colunas de distãncia, 1 fração.
Grid não tem margin nem padding*/
.pokemons {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr; /* celular MUITO pequeno, programa da menor o possivel e vai passando pra maior */
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

/* Porém, para dividir melhor os itens, cada item terá margin e padding, separando os externamente, criando
meio que uma caixa, pinta ela de verde e aumenta a sua altura. Margin não é pintada */
.pokemon {
    display: flex;
    flex-direction: column; /* divide span, div em coluna (apply on the parent, effect occur on the child)*/
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    
    
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: end;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;

}

.pokemon .detail {
    display: flex;
    flex-direction: row; /* divide os tipos e a img em linha */
    align-items: center;
    justify-content: space-between;
}


/* Da lista pokemons, do item da lista, do elemento img. Definir a largura máxima igual a 100% da width do parent element
e altura da img de 110px. */
.pokemon .detail img {
    max-width: 100%;
    height: 63px;
    
}

.pokemon .detail .types {
    margin: 0;
    padding: 0;
    list-style-type: none;
    filter: brightness(1.11);
    text-align: center;

}

.pokemon .detail .types .type {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.25rem 0.5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 0.7rem;
}

@media screen and (min-width: 340px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
        
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}

@media screen and (min-width: 992px) { /* as the screen will be broader, more pokemon per row in the browser
    screen can be placed so that the grid's width get normal */
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}